@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');
*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  background-color: grey;
}
.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    margin: 50px;
}
/* .nav-img {
    
} */
.main-nav h1 {
    width: 73px;
    height: 52px;
    top:76px;
    left: 166px;
    padding-right: 100px;
}
.nav-links {
    display: flex;
    gap: 60px;
    padding-right: 200px;
    
}
.nav-links a {
    text-decoration: none;
}
.lan-link a{
    text-decoration: none;
}
.lan-link .globe {
    padding-top: 4px;
    height: 20px;
}
.btn a {
    text-decoration: none;
}
.btn{
    font-weight: bold;
    background: rgb(36, 124, 238);
    padding: 5px;
    border: none;
}


.Getstarted-container {
    background: linear-gradient( rgba(6,1,9,1) 0%, rgba(149,56,153,1) 0%, rgba(219,14,203,0.9) 100%, rgba(0,212,255,1) 100%);
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    margin: 100px;
    margin-top: 60px;
    padding-left: 25px;
}
.main-text {
    display: flex;
}
.text h1 {
    font-weight: 1600px;
    padding-top: 20px;
    color: white;
}
.text p {
    font-size: small;
    padding-top: 100px;
    color: whitesmoke;
}
.fashion img{
    width: 400px;
    height: 260px;
    top: 289px;
    padding-top: 30px;
    padding-left: 100px;
}
.get-dis {
    padding-bottom: 40px;
}
.get-dis:hover{
    color: black;
}
.get-dis .get{
    background: blueviolet;
    border: none;
    margin: 10px;
    padding: 10px;
    color: white;
}
.get-dis .get a{
    text-decoration: none;
    color: white;
}
.get-dis .dis {
    background: blueviolet;
    border: none;
    padding: 10px;
    color: white;
}
.get-dis .dis a {
    text-decoration: none;
    color: white;
}
.conventient {
    display: flex;
    padding-left: 100px;
     gap: 40px; 
}
.conventient .con1 {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    height: 220px;
}
.conventient .con2 {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    border-radius: 20px;
}
.conventient .con1 img {
    width: 150px;
    gap: 20px;
}
.conventient .con2 img {
    width: 150px;
    gap: 20px;
    padding-top: 50px;
    
}
.sec2 {
    font-family: 'jost' , sans-serif;
    padding-left: 30px;
    padding-top: 20px;
}


.sec3{
    display: flex;
    padding-left: 80px;
    margin-top: 40px;
}
.image4 {
    height: 200px;
    width: 400px;

    }
.image4 .undraw-reading {
    height: 400px;
    object-fit: cover;
    top: 0;
    width: 400px;
}
.label6 {
        padding-left: 130px;
        padding-top: 40px;
}
.we-have-been {
        font-family: "Jost-Bold", sans-serif;
        font-size: 30px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        top: 0;
}
.a-good-example-of-a {
    padding-top: 80px;
}
.text-wrap {
    padding-top: 30px;
}
.text-wrap a {
    background: rgb(35, 165, 216);
    padding: 10px;
    border: none;
    color: white;
    text-decoration: none;
}
.sec4{
    display: flex;
    padding-left: 80px;
    margin-top: 100px;
}
.image5 {
    height: 200px;
    width: 400px;
    margin-left: 150px;
    }
.image5 .undraw-My-universe {
    height: 400px;
    object-fit: cover;
    top: 0;
    width: 400px;
}
.label66 {
    padding-top: 40px;
}
.we-have-been-a {
    font-family: "Jost-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
}
.a-good-example-of {
padding-top: 80px;
}

.text-wrappe {
    color: #010851;
    font-family: "Jost-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 150px;
    margin-left: 25%;
}
.a-simple-paragraph {
    padding-left: 28%;
    font-size: 15px;
}